.git
.idea
.venv
intact-id
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.log
logs
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.mp4
*.mov
*.avi
*.mkv
*.zip
*.tar
*.gz
*.bz2
*.7z
*.onnx
*.pt
*.pth
*.h5
.env
.env.*
